.container {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: var(--g-color-text-secondary);
}

.stats {
  display: flex;
  gap: 6px;
}

.instructionsList {
  list-style-position: inside;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
