.card {
  padding: 32px;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: var(--fs-h4);
  line-height: 120%;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  max-width: 60%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #3b82f6;
}

.link:hover {
  text-decoration: underline;
}
