.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 24px;
  min-height: 85vh;
  margin: 12px 24px;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}

.title {
  line-height: 120%;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
