.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: var(--g-color-base-background) !important; */
  padding: 48px 40px;
  min-height: 85vh;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
