.subject {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  height: 145px;
}

.header {
  display: -webkit-box; /* Необходим для line-clamp */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  -webkit-line-clamp: 2; /* Количество строк */
  line-clamp: 2;
  overflow: hidden; /* Скрывает лишний текст */
  text-overflow: ellipsis; /* Добавляет многоточие */
  line-height: 120%;
  max-width: 100%;
  word-break: break-word;
}

.label * {
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.dropdown {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: flex-start;
}
