.subject {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.label * {
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown {
  align-self: flex-end;
}