.subject {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  height: 120px;
}

.label * {
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: flex-start;
}