.hero {
  padding: 64px 170px;
  background: linear-gradient(
    60deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: var(--fs-h2);
  line-height: 120%;
  text-align: center;
}

.subtitle {
  font-size: var(--fs-p);
  color: #374151;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 16px;
}
