.editForm {
  padding: 24px 32px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

.textInput {
  margin-bottom: 10px;
}

.input {
  width: 100%;
}

.buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}
