.question {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 36px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.answer {
  margin-left: 12px;
}