.container {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  margin-bottom: 16px;
}

.questionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}