.card {
  padding: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.text {

}

.link {
  text-decoration: none;
  color: #3B82F6;
}

.link:hover {
  text-decoration: underline;
}