.navbar {
  background-color: var(--g-color-base-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  min-height: 58px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
}

.titleLink {
  color: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navList {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.activeNavLink {
  text-decoration: underline;
}

.nav .divider {
  height: 30px;
}

.mobileNav .divider {
  width: 80%;
  margin-block: 24px;
}

.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.burgerLine {
  width: 100%;
  height: 3px;
  background-color: var(--g-color-text-primary);
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.burgerOpen .burgerLine:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
}

.burgerOpen .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerOpen .burgerLine:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
}

.mobileNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 280px;
  max-width: 80vw;
  height: 100vh;
  background-color: var(--g-color-base-background);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding-top: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobileNavTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  gap: 12px;
}

.signOutButton {
  margin-top: 24px;
}

.mobileNavOpen {
  right: 0;
}

.mobileNavList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavLink {
  color: inherit;
  display: block;
  padding: 24px 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mobileNavLink:hover {
  text-decoration: underline;
}

.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.overlayOpen {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 790px) {
  .navbar {
    height: 58px;
  }
  .header {
    justify-content: space-between;
    padding: 16px 20px;
  }

  .nav {
    display: none;
  }

  .burgerButton {
    display: flex;
  }

  .mobileNavLink {
    padding: 12px 16px;
  }
}
