.card {
  width: 400px;
  height: 250px;
  padding: 0;
  perspective: 1200px;
}

.cardInner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.6s;
  cursor: pointer;
}

.cardInner:hover {
  border: 2px solid var(--g-color-base-brand);
}

.cardFlipped {
  border: 2px solid var(--g-color-base-brand);
}

.cardInner.cardFlipped {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}
