.card {
  width: 400px;
  height: 250px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}