.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 20px;
}

.results {
  padding: 20px 12px;
  margin: 12px 24px;
}

.resultsContent {
  display: flex;
  gap: 30px;
}

.resultsText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.correctAnswers,
.incorrectAnswers {
  display: flex;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
