.modalContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  max-width: 90vw;
}

.container {
  margin-bottom: 32px;
}

.header {
  display: flex;
  gap: 32px;
  align-items: center;
}

.form {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modalTitle {
  margin-bottom: 12px;
}

.input {
  width: 100%;
}
