.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  gap: 8px;
}

.email, .password {
  height: 20px;
}

.button {
  padding: 5px 8px;
}
