.popoverContent {
  padding: 30px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settingsItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.signOutButton {
  margin-top: 10px;
}
