.modalContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  max-width: 90vw;
}

.container {
  margin-bottom: 32px;
}

.header {
  display: flex;
  gap: 32px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8;
  align-items: flex-start;
}

.input {
  width: 100%;
}